.TimeManagement,
.TaskManager,
.Kanban,
.CreateShare {
  width: 90%;
  margin: 4.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .text {
    width: 80%;
    justify-self: end;
    margin-top: 5rem;
    h1 {
      font-size: 2rem;
      text-align: left;
      font-size: 2.87rem;
      font-weight: 600;
      opacity: 0.8;
    }
    h2 {
      font-size: 1.56722rem;
      text-align: left;
      font-weight: 500;
      opacity: 0.7;
    }
    .ant-btn {
      background-color: #5433ff;

      cursor: pointer;
      color: white;
      width: 14rem;
      height: 3rem;
      border-radius: 60px;
      border: none;
      font-weight: 400;
      font-size: 1.56722rem;
    }
  }
  .image {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    img {
      width: 80%;
    }
  }
}
